* {
    align-content: center;
    margin: 2px;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
header {
    position: absolute;
    top: 200; left: 4%;
    margin: 4px;
    width: 90%;
    border: 10px solid rgb(136, 207, 209);
    background-color: #492cca;
}
#intro{
    position: absolute;
    top: 120px; left: 30%;
    margin: auto;
    width: 500px;
    font-size: larger;
    color: rgb(2, 0, 10);
    border: rgb(58, 43, 153) 4px solid;
    background: rgb(101, 120, 182);
    padding: 15px;
}
main {
    /* border: 10px solid rgb(43, 83, 170); */
    /* background-color: #b3abd8; */
    width: 99%;
}
table {
    border-radius: 20px;
    border: 4px solid rgb(118, 228, 231);
}
th {
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.808);
    border: 2px solid rgb(58, 152, 189);
    background: rgb(55, 59, 110);
}
h1 {
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}
#empty {
    color: rgb(17, 17, 145);
    background: rgb(225, 236, 236);
    border: 2px rgb(94, 173, 173);
}
article {
    
    
    background: rgb(161, 161, 219);
    
}

img {
    border: 4px solid rgb(60, 60, 201);
    width: 200px;
    height: 200px;
}
.clock{
    text-align:center;
    width:auto;
    height:auto;
}
#dataBox {
    color: rgb(8, 8, 24);
    position: absolute;
    top: 340px; left: 20px;
    float: left;
    width: 630px;
    height: auto;
    background: rgba(47, 120, 150, 0.726);
}
#dataBox p {
    
    font-size: larger;
    color: rgb(2, 0, 10);
    border: rgb(58, 43, 153) 4px solid;
    background: rgb(101, 120, 182);
    padding: 15px;
    width: 350px;
    height: 170px;
    position: absolute;
    top: 10%; left: 222px;
}
#dataBox h3{
    position: absolute;
    top: auto; left: 12px;
    color: rgb(72, 114, 148);
    padding: 4px;
    background: black;
    border-radius: 30%;
    border: 2px solid;
}
#consultBox {
    color: rgb(8, 8, 24);
    position: absolute;
    top: 450px; left: 690px;
    width: 630px;
    height: auto;
    background: rgba(47, 120, 150, 0.726);
}
#consultBox p {
    
    font-size: larger;
    color: rgb(2, 0, 10);
    border: rgb(58, 43, 153) 4px solid;
    background: rgb(101, 120, 182);
    padding: 15px;
    width: 350px;
    height: 170px;
    position: absolute;
    top: 10%; left: 222px;
}
#consultBox h3{
    position: absolute;
    top: auto; left: 33px;
    color: rgb(72, 114, 148);
    padding: 4px;
    background: black;
    border-radius: 30%;
    border: 2px solid;
}
#reportBox {
    color: rgb(8, 8, 24);
    position: absolute;
    top: 590px; left: 20px;
    float: left;
    width: 630px;
    height: auto;
    background: rgba(47, 120, 150, 0.726);
}
#reportBox p {
    
    font-size: larger;
    color: rgb(2, 0, 10);
    border: rgb(58, 43, 153) 4px solid;
    background: rgb(101, 120, 182);
    padding: 15px;
    width: 350px;
    height: 170px;
    position: absolute;
    top: 10%; left: 222px;
}
#reportBox h3{
    position: absolute;
    top: auto; left: 49px;
    color: rgb(72, 114, 148);
    padding: 4px;
    background: black;
    border-radius: 30%;
    border: 2px solid;
}
body{
    background-image: url(images/construction.jpg);
}
footer {
    color: rgb(8, 8, 24);
    background: rgba(47, 120, 150, 0.726);
    border: 2px solid rgb(64, 224, 208);
    position: absolute;
    top: 900px; left: 20px;
}